flask
werkzeug
requests
python-dotenv
flask-cors
click
itsdangerous
Jinja2
MarkupSafe
scikit-learn
numpy
pandas
joblib
typing-extensions
matplotlib
seaborn
tqdm
pytz
six
threadpoolctl
scipy
setuptools>=65.5.1
wheel>=0.38.0 